body{
    margin: 0;
    padding: 0;
}

.fondo-imagen {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../img/ba1.jpg);
    background-size: cover;
    background-position: center;
    height: 800px;
    
}

.fondo-oscuro {
    background-color: #353a40;
}

.bg-badge-react {
    background-color: #27a9bb;
}

.text-dotted{
    border-bottom: 1px dashed rgb(0, 0, 0);
    text-decoration: none; 
    color: black;
}

.image-container{
    align-items: stretch;
    height: 800px;
}

.columna-contenido{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    align-content: center;
}

.form-button {
    color: white;
    font-weight: bold;
    background-color: #96c93e;
    border-radius: 1;
}


#send-form-button {
    color: white;
    font-weight: bold;
    background-color: #96c93e;
}

#image-buttons-container{
    text-align: right;
}

.card-discount {
    max-width: 200px;
}

footer {
    background-color: #1e516e;
    
}

footer li{
    max-width: 140px;
    text-align: center;
}